# Dev only files
node_modules
.idea
.vscode
.auto-changelog
.eslintrc.json
.prettierrc
AUTHORS
build.sh
CHANGELOG.md
Dockerfile
jest.config.js
README.md
tsconfig.json

# Examples
examples

# Typescript source files
lib

# Build dirs
build
coverage

# Logs
*.log



